.fontOne {
  margin-top: 200px;
  font-size: 40px;
}

.fontTwo {
  background-color: #0a1835;
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  border-radius: 300px;
}

.buttonContainer {
  margin-bottom: 50px;
}